/* The main buffer icon
 *
 * NOTE - Safari ignores selector specificity with injected stylesheets so
 * !important's are needed to override the default Twitter styles
 */
.buffer-twitter .icon.icon-buffer,
.buffer-twitter .icon.icon-buffer {
  position: relative;
  top: 4px;
  width: 16px !important;
  height: 16px !important;
  background-color: transparent;
  /* Inline SVG with the color #CCD6DD - Search in XML for %23CCD6DD to change (%23 === encoded #) */
  background-image: url('data:image/svg+xml;utf8,<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="Artboard-1" sketch:type="MSArtboardGroup" transform="translate(-49.000000, -48.000000)" fill="%23CCD6DD"><g id="Logomark" sketch:type="MSLayerGroup" transform="translate(49.000000, 48.000000)"><path d="M39.7073437,30.4560937 L35.1570312,28.3590625 C34.766875,28.1792187 34.1282812,28.1792187 33.7379687,28.3590625 L20.7095312,34.3632812 C20.319375,34.543125 19.680625,34.543125 19.2904687,34.3632812 L6.26203125,28.3590625 C5.87171875,28.1792187 5.233125,28.1792187 4.84296875,28.3590625 L0.29265625,30.4560937 C-0.0975,30.6359375 -0.0975,30.9301562 0.29265625,31.11 L19.2904687,39.8651562 C19.680625,40.045 20.319375,40.045 20.7095312,39.8651562 L39.7073437,31.11 C40.0975,30.9301562 40.0975,30.6359375 39.7073437,30.4560937" id="Fill-1" sketch:type="MSShapeGroup"></path><path d="M39.7073437,19.6729687 L35.1570312,17.5760937 C34.766875,17.39625 34.1282812,17.39625 33.7379687,17.5760937 L20.7095312,23.5801562 C20.319375,23.76 19.680625,23.76 19.2904687,23.5801562 L6.26203125,17.5760937 C5.87171875,17.39625 5.233125,17.39625 4.84296875,17.5760937 L0.29265625,19.6729687 C-0.0975,19.8528125 -0.0975,20.1471875 0.29265625,20.3270312 L19.2904687,29.0820312 C19.680625,29.261875 20.319375,29.261875 20.7095312,29.0820312 L39.7073437,20.3270312 C40.0975,20.1471875 40.0975,19.8528125 39.7073437,19.6729687" id="Fill-2" sketch:type="MSShapeGroup"></path><path d="M0.29265625,9.54390625 L19.2904687,18.2990625 C19.680625,18.4789063 20.319375,18.4789063 20.7095312,18.2990625 L39.7073437,9.54390625 C40.0975,9.3640625 40.0975,9.06984375 39.7073437,8.89 L20.7095312,0.13484375 C20.319375,-0.045 19.680625,-0.045 19.2904687,0.13484375 L0.29265625,8.89 C-0.0975,9.06984375 -0.0975,9.3640625 0.29265625,9.54390625" id="Fill-3" sketch:type="MSShapeGroup"></path></g></g></g></svg>') !important;
  background-repeat: no-repeat;
  background-size: 14px 14px; /* Natural is 40x40 */
  background-position: 50% 0px !important;

}
.buffer-twitter .icon-buffer:hover,
.buffer-twitter .icon.icon-buffer:hover {
  background-image: url('data:image/svg+xml;utf8,<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="Artboard-1" sketch:type="MSArtboardGroup" transform="translate(-49.000000, -48.000000)" fill="%23168EEA"><g id="Logomark" sketch:type="MSLayerGroup" transform="translate(49.000000, 48.000000)"><path d="M39.7073437,30.4560937 L35.1570312,28.3590625 C34.766875,28.1792187 34.1282812,28.1792187 33.7379687,28.3590625 L20.7095312,34.3632812 C20.319375,34.543125 19.680625,34.543125 19.2904687,34.3632812 L6.26203125,28.3590625 C5.87171875,28.1792187 5.233125,28.1792187 4.84296875,28.3590625 L0.29265625,30.4560937 C-0.0975,30.6359375 -0.0975,30.9301562 0.29265625,31.11 L19.2904687,39.8651562 C19.680625,40.045 20.319375,40.045 20.7095312,39.8651562 L39.7073437,31.11 C40.0975,30.9301562 40.0975,30.6359375 39.7073437,30.4560937" id="Fill-1" sketch:type="MSShapeGroup"></path><path d="M39.7073437,19.6729687 L35.1570312,17.5760937 C34.766875,17.39625 34.1282812,17.39625 33.7379687,17.5760937 L20.7095312,23.5801562 C20.319375,23.76 19.680625,23.76 19.2904687,23.5801562 L6.26203125,17.5760937 C5.87171875,17.39625 5.233125,17.39625 4.84296875,17.5760937 L0.29265625,19.6729687 C-0.0975,19.8528125 -0.0975,20.1471875 0.29265625,20.3270312 L19.2904687,29.0820312 C19.680625,29.261875 20.319375,29.261875 20.7095312,29.0820312 L39.7073437,20.3270312 C40.0975,20.1471875 40.0975,19.8528125 39.7073437,19.6729687" id="Fill-2" sketch:type="MSShapeGroup"></path><path d="M0.29265625,9.54390625 L19.2904687,18.2990625 C19.680625,18.4789063 20.319375,18.4789063 20.7095312,18.2990625 L39.7073437,9.54390625 C40.0975,9.3640625 40.0975,9.06984375 39.7073437,8.89 L20.7095312,0.13484375 C20.319375,-0.045 19.680625,-0.045 19.2904687,0.13484375 L0.29265625,8.89 C-0.0975,9.06984375 -0.0975,9.3640625 0.29265625,9.54390625" id="Fill-3" sketch:type="MSShapeGroup"></path></g></g></g></svg>') !important;
}

/*The profile streams appear slightly different */
.buffer-twitter .ProfileTweet .icon-buffer {
  background-position: 50% 1px !important;
}

/* The Buffer button on the composer */
.buffer-twitter .btn.buffer-tweet-button {
  height: 20px;
  margin-right: 2px;
  vertical-align: top;
  line-height: 19px;

  background: #4C9E46;
  border: 1px solid rgba(0,0,0,0);
  color: white !important;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.buffer-twitter .btn.buffer-tweet-button.disabled {
  background: #4C9E46;
  border-color: transparent;
  opacity: 0.2;
  text-shadow: none;
  box-shadow: none;
}

.buffer-twitter .btn.buffer-tweet-button:not(.disabled):hover {
  background: #40873B;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15));
}

.buffer-twitter .btn.buffer-tweet-button:not(.disabled):focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(76, 158, 70, 0.76);
}

.buffer-twitter .btn.buffer-tweet-button:not(.disabled):active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 1px #fff, 0 0 0 3px rgba(76, 158, 70, 0.76);
  background: #40873B;
  text-decoration: none;
}


/* To shrink the composer buttons to fit on one line */
.buffer-twitter .tweet-button.buffer-inserted {
  margin-top: 3px;
}
.buffer-twitter .tweet-button.buffer-inserted .btn {
  padding: 7px 8px 6px;
}
.buffer-twitter .tweet-button.buffer-inserted .btn.retweet-action {
  padding-top: 2px;
  padding-bottom: 9px;
}
.buffer-twitter .tweet-button.buffer-inserted .tweet-counter {
  width: auto;
}
.buffer-twitter .tweet-box-extras .geo-picker {
  margin-right: 0px;
}


/* For the twitter stream - Not sure if this is needed anymore... */
#profile_popup-body > ol > li > div > div.content > ,
div.stream-item-footer > ul.tweet-actions > li.action-buffer-container {
  display: none;
},
