/* The main buffer icon
 * !important's are used to override the default Twitter styles
 */
.buffer-twitter .icon-buffer,
.buffer-twitter .icon.icon-buffer {
  position: relative;
  top: 3px;
  width: 16px !important;
  height: 16px !important;
  background-color: transparent;
  background-image: url(https://d389zggrogs7qo.cloudfront.net/images/extensions/img/twitter-sprite.png);
  background-repeat: no-repeat;
  background-size: 16px 32px; /* Natural is 32x64 */
  background-position: top;
}
.buffer-twitter .icon-buffer:hover,
.buffer-twitter .icon.icon-buffer:hover {
  background-position: bottom !important;
}

.buffer-twitter .ProfileTweet .icon-buffer {
  top: 4px; /* The profile streams appear slightly different */
}

/* The Buffer button on the composer */
.buffer-twitter .btn.buffer-tweet-button {
  height: 20px;
  margin-right: 2px;
  vertical-align: top;
  line-height: 19px;

  background: #4C9E46;
  border: 1px solid rgba(0,0,0,0);
  color: white !important;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.buffer-twitter .btn.buffer-tweet-button.disabled {
  background: #4C9E46;
  border-color: transparent;
  opacity: 0.2;
  text-shadow: none;
  box-shadow: none;
}

.buffer-twitter .btn.buffer-tweet-button:not(.disabled):hover {
  background: #40873B;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15));
}

.buffer-twitter .btn.buffer-tweet-button:not(.disabled):focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(76, 158, 70, 0.76);
}

.buffer-twitter .btn.buffer-tweet-button:not(.disabled):active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  background: #40873B;
  text-decoration: none;
}


/* To shrink the composer buttons to fit on one line */
.buffer-twitter .tweet-button.buffer-inserted {
  margin-top: 3px;
}
.buffer-twitter .tweet-button.buffer-inserted .btn {
  padding: 7px 8px 6px;
}
.buffer-twitter .tweet-button.buffer-inserted .tweet-counter {
  width: auto;
}
.buffer-twitter .tweet-box-extras .geo-picker {
  margin-right: 0px;
}


/* For the twitter stream - Not sure if this is needed anymore... */
#profile_popup-body > ol > li > div > div.content > ,
div.stream-item-footer > ul.tweet-actions > li.action-buffer-container {
  display: none;
},
